/* import google font */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* import main things */

:root{
    --primary-color: #363896;
    --color: #FFFFFF;
    --color1:  #303030;
    --color2: #F5F5F5;
    --form-color: #FCFCFC;
    --section2-background-color: #FAFAFA;
    --section3-background-color: white;
    --placeholder-color: #8C8B8B;
    --star-color: #FFCC41F0;
    --star-color1: #C6C3C3;
    --font: "Outfit", sans-serif;
}

#home1{
   padding-top: 20vh;
}

/* Section 1 */

#d-block{
    height: 79vh;
    width: 100%;
    object-fit: cover;
}

#home-section1-circle-icon{
    color: var(--primary-color);
    font-size: 40px;
}


#carousel-image{
    position: relative;
}


#carousel-content{
    height: 79vh;
    width: 100%;
   position: absolute;
   top: 0px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}


#carousel-content-1{
    width: 600px;
}

#carousel-content-2{
    width: 600px;
}


#carousel-content-h6{
    font-size: 40px;
    color: var(--color);
    font-family: var(--font);
    font-weight: 600;
    margin-left: -20px;

}


#carousel-content-2-para{
    margin-top: 15px;
     font-size: 16px;
    color: var(--color);
    font-family: var(--font);
    font-weight: 400;
    margin-left: -20px;
}

#home-section1-button{
    border: none;
    background-color: var(--primary-color);
    color: var(--color);
    font-family: var(--font);
    font-size: 18px;
    font-weight: 600;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    border-radius: 4px;
}


@media (max-width: 1200px){
 
    #carousel-content-1{
        display: none;
    }

    #carousel-content-2{
        width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    #carousel-content{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }



    #carousel-content-h6{
        font-size: 40px;
        color: var(--color);
        font-family: var(--font);
        font-weight: 600;
        text-align: center;
    }


    #carousel-content-2-para{
        margin-top: 15px;
         font-size: 16px;
        color: var(--color);
        font-family: var(--font);
        font-weight: 400;
        text-align: center;
    }

    #home-section1-button{
        border: none;
        background-color: var(--primary-color);
        color: var(--color);
        font-family: var(--font);
        font-size: 18px;
        font-weight: 600;
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 15px;
        border-radius: 4px;
    }
}


@media (max-width: 773px){

    #carousel-content-2{
        width: 500px;
    }


}

@media (max-width: 768px){
    #home1{
     padding-top: 55px;
    }
}

@media (max-width: 668px){

    #carousel-content-2{
        width: 400px;
    }

}

@media (max-width: 668px){

    #carousel-content-2{
        width: 400px;
    }

}

@media (max-width: 600px){
    #home1{
     padding-top: 70px;
    }
}

@media (max-width: 565px){
    #carousel-content-2{
        width: 300px;
    }   
}

@media (max-width: 564px){
    #home1{
     padding-top: 90px;
    }
}


@media (max-width: 413px){
    #carousel-content-2{
        width: 200px;
    }    
}

@media (max-width: 412px){
    #home1{
     padding-top: 90px;
    }

    #carousel-content-h6{
        font-size: 30px;
        color: var(--color);
        font-family: var(--font);
        font-weight: 600;
    }

    #carousel-content-2-para{
        font-size: 14px;
    }

}

/* section 2 */


#home-section-2{
    background-color: var(--section2-background-color);
    padding-top: 70px;
    padding-bottom: 70px;
}

/* Flex Part Css */

#home-section-2-2{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
}


#home-section-2-2-short-head{
    color: var(--color1);
    font-family: var(--font);
    font-size: 24px;
    font-weight: 400;
}


/* Form css */

#home-section-2-5{
    width: 440px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: var(--form-color);
    -webkit-box-shadow: -1px -1px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 8px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 8px 0px rgba(0,0,0,0.75);
    padding: 30px;
}

#home-section2-5-form-head{
    text-align: center;
    font-family: var(--font);
    color: var(--primary-color);
    font-size: 23px;
    font-weight: 500;
}


#home-section2-5-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}


#home-section2-5-input-name::placeholder{
  color: var(--placeholder-color);
  font-size: 18px;
  font-family: var(--font);
  font-weight: 400;
}

#home-section2-5-input-name{
    padding: 8px;
    border: 2px solid var(--placeholder-color);
    color: var(--primary-color);
    font-family: var(--font);
    font-size: 18px;
    font-weight: 500;
}


#home-section2-5-input-email::placeholder{
    color: var(--placeholder-color);
    font-size: 18px;
    font-family: var(--font);
    font-weight: 400;
  }
  
  #home-section2-5-input-email{
      padding: 8px;
      border: 2px solid var(--placeholder-color);
      color: var(--primary-color);
      font-family: var(--font);
      font-size: 18px;
      font-weight: 500;
  }


  #home-section2-5-input-mobile::placeholder{
    color: var(--placeholder-color);
    font-size: 18px;
    font-family: var(--font);
    font-weight: 400;
  }
  
  #home-section2-5-input-mobile{
      padding: 8px;
      border: 2px solid var(--placeholder-color);
      color: var(--primary-color);
      font-family: var(--font);
      font-size: 18px;
      font-weight: 500;
  }


  #home-section2-5-input-course::placeholder{
    color: var(--placeholder-color);
    font-size: 18px;
    font-family: var(--font);
    font-weight: 400;
  }
  
  #home-section2-5-input-course{
      padding: 8px;
      border: 2px solid var(--placeholder-color);
      color: var(--primary-color);
      font-family: var(--font);
      font-size: 18px;
      font-weight: 500;
  }

  #home-section2-5-submit{
     font-family: var(--font);
     font-weight: 500;
     font-size: 18px;
     color: var(--color);
     border: none;
     background-color: var(--primary-color);
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
  }





/* Slide css */


#home-section2-4{
    width: 500px;
    height: 60vh;
    object-fit: cover;
}

/* section 2 responsive */

@media (max-width: 993px){

    #home-section-2-5{
        height: 100%;
    }

    #home-section2-4{
        height: 50vh;
    }
}

@media (max-width: 992px){
    #home-section2-4{
        display: none;
    }

}

@media (max-width: 468px){

    #home-section-2-5{
        width: 400px;
    }
}

@media (max-width: 417px){

    #home-section-2-5{
        width: 350px;
    }
}

@media (max-width: 366px){

    #home-section-2-5{
        width: 300px;
    }
}


/* Section 3 */


#home-section-3{
    background-color: var(--section3-background-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

#home-section-3-2{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

#home-section-3-5-para{
    color: var(--primary-color);
    font-size: 20px;
    font-family: var(--font);
    font-weight: 500;
}

#home-section-3-6-arrow-left{
  border: 2px solid var(--placeholder-color);
  background-color: var(--primary-color);
  padding-bottom: 4px;
   border: none;
border-radius: 100% ;
margin-right: 10px;
}


#home-section-3-arrow-icon-1{
    color: var(--color2);
    font-size: 16px;
}


#home-section-3-6-arrow-right{
    border: 2px solid var(--placeholder-color);
    background-color: var(--primary-color);
    padding-bottom: 4px;
    border-radius: 50%;
    border: none;
  }
  
  
  #home-section-3-arrow-icon-2{
      color: var(--color);
      font-size: 16px;
  }




  #home-section-3-3{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #home-section-3-3-flex-row{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
   justify-items: center;
  }

  #home-section-3-3-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 170px;
  }

  #home-section-3-3-img{
    width: 170px;
    height: 235px;
  }

  #home-section-3-3-para{
    font-size: 18px;
    font-family: var(--font);
    font-weight: 400;
    color: var(--color1);
    text-align: center;
    margin-top: 15px;
  }


  @media (max-width: 1025px){

    #home-section-3-3-flex-row{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        justify-items: center;
    }

  }

  @media (max-width: 993px){

    #home-section-3-3-flex-row{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-items: center;
    }

  }

  @media (max-width: 786px){
    #home-section-3-3-flex-row{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-items: center;
    }

  }

  @media (max-width: 400px){
    #home-section-3-3-flex-row{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: center;
    }

  }


  /* Section4 */


  #home-section-4{
    padding-top: 40px;
    padding-bottom: 40px;
  }


  #home-section-4-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #home-section-4-3{
    width: 600px;
  }

  #home-section-4-3-1{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font);
    color: var(--primary-color);
  }

  #home-section-4-3-2{
    background-color: var(--primary-color);
    height: 3px;
    width: 50px;
    margin-top: -16px;
   margin-bottom: 30px;
  }


  #home-section-4-3-3{
    color: var(--primary-color);
    font-family: var(--font);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

#home-section-4-3-4{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font);
    color: var(--color1);
    line-height: 35px;
    margin-bottom: 30px;
    text-align: justify;
}

#home-section-4-3-5{
    /* display: flex;
    flex-direction: row; */

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
   justify-items: center;
}

#home-section-4-3-5-1{
    display: flex;
    flex-direction: row;
    width: 170px;
    justify-content: space-evenly;
}

#home-section-4-3-5-1-1{
    display: flex;
    flex-direction: row;
    width: 170px;
    justify-content: space-evenly;
}

#home-section-4-3-5-1-2{
    display: flex;
    flex-direction: row;
    width: 170px;
    justify-content: space-evenly;
}

#home-section-4-3-5-2{
    color: var(--primary-color);
    font-size: 20px;
    margin-top: 2.5px;
}

#home-section-4-3-5-3{
    color: var(--color1);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font);
}


#home-section-4-3-5-2-1{
    color: var(--primary-color);
    font-size: 20px;
    margin-top: 2.5px;
}

#home-section-4-3-5-3-1{
    color: var(--color1);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font);
}

#home-section-4-3-5-2-2{
    color: var(--primary-color);
    font-size: 20px;
    margin-top: 2.5px;
}

#home-section-4-3-5-3-2{
    color: var(--color1);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font);
}



#home-section-4-3-6{
    margin-top: 20px;
    border: none;
    background-color: var(--primary-color);
    color: var(--color2);
    font-size: 12px;
    font-family: var(--font);
    font-weight: 500;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}


@media (max-width: 1024px){
    #home-section-4-2{
        display: none;
    }
}

@media (max-width: 507px){
    #home-section-4-3-5{
        grid-template-columns: repeat(2, minmax(0, 1fr));
       justify-items: center;
    }

    #home-section-4-3-5-2-2{
        margin-left: 23px;
        }
        #home-section-4-3-5-1-2{
            width: 200px;
        }

}

@media (max-width: 341px){

    #home-section-4-3-5-2{
        margin-left: -36px;
    }

    #home-section-4-3-5-2-1{
        margin-left: -33px;
        }

    #home-section-4-3-5-2-2{
    margin-left: -22px;
    }

    #home-section-4-3-5-1-2{
        width: 170px;
    }

    #home-section-4-3-5{
        grid-template-columns: repeat(1, minmax(0, 1fr));
       justify-items: center;
    }
}




/* Section 5 */


#home-section-5{
    background-image: url("../../assets/home_background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#home-section-5-1{
    padding-top: 50px;
    padding-bottom: 50px;
}

#home-section-5-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

#home-section-5-2-p{
    font-size: 24px;
    font-family: var(--font);
    font-weight: 500;
    color: var(--color2);
}

#home-section-5-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#home-section-5-3-p{
    font-size: 16px;
    font-family: var(--font);
    font-weight: 400;
    color: var(--color2);
    width: 600px;
    text-align: center;
  line-height: 30px;
}


/* Course Card Section  */

#home-section-5-4{
    padding-top: 60px;
    padding-bottom: 40px;
}



#home-section-5-4-card{
    /* height: 405px; */
    width: 20rem;
}

#home-section-5-4-row{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    gap: 50px;
  }
  
  #home-section-5-4-card{
    width: 320px;
    background-color: var(--color);
    -webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
  padding: 10px;
  }
  
  #home-section-5-4-1-img{
    width: 300px;
    height: 180px;
  }
  
  #home-section-5-4-1-content{
    width: 300px;
  }
  
  
  #home-section-5-4-1-content-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  
  #home-section-5-4-1-content-1-p-1{
    font-size: 16px;
    font-weight: 500;
    color: var(--color1);
    font-family: var(--font);
  }
  
  #home-section-5-4-1-content-1-1{
    display: flex;
    flex-direction: row;
     gap: 9px;
  }
  
  #home-section-5-4-1-content-1-1-star{
    color: var(--star-color);
    font-size: 16px;
    margin-top: 2px;
  }
  
  
  #home-section-5-4-1-content-1-1-p-1{
    color: var(--color1);
    font-size: 15px;
    font-family: var(--font);
    font-weight: 400;
  }
  
  
  #home-section-5-4-2-content-1-p-1{
    color: var(--color1);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font);
  }
  
  #home-section-5-4-3-content-1-p-1{
    text-align: justify;
    font-size: 14px;
    font-family: var(--font);
    font-weight: 400;
    color: var(--color1);
  }
  
  #home-section-5-4-1-content-4{
    width: 300px;
  }
  
  #home-section-5-4-1-button-4{
    border: none;
    background-color: var(--primary-color);
    color: var(--color);
    font-size: 14px;
    font-family: var(--font);
    font-weight: 400;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

#home-section-5-4-course-button-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-section-5-4-button{
    border: none;
    background-color: var(--color); 
    color: var(--primary-color);
    font-size: 15px;
    font-family: var(--font);
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
}

  
@media (max-width: 998px){
    #home-section-5-4-row{
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-items: center;
    }
  }
  
  
  @media (max-width: 640px){
    #home-section-5-4-row{
      grid-template-columns: repeat(1, minmax(0, 1fr));
      justify-items: center;
    }
  }

  @media (max-width: 321px){
  #home-section-5-4-card{
    width: 100%;
  }

  #home-section-5-4-1-img{
    width: 100%;
  }

  #home-section-5-4-1-content{
    width: 100%;
  }

  #home-section-5-4-1-content-4{
    width: 100%;
  }

  #home-section-5-4-1-button-4{
    width: 100%;
  }

  }




/* Home Section 6 */

#home-section-6{
  padding-top: 50px;
  padding-bottom: 50px;
}

#home-section-6-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-section-6-1-head-content{
    color: var(--primary-color);
    font-size: 15px;
    font-family: var(--font);
    font-weight: 500;
}


#home-section-6-1-line{
    width: 40px;
    height: 2px;
    background-color: var(--primary-color);
    margin-top: -10px;
}

#home-section-6-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}


#home-section-6-2-head-content{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font);
}

#home-section-6-2-para-content{
      color: var(--color1);
      font-family: var(--font);
      font-size: 16px;
      width: 600px;
      text-align: center;
      font-weight: 400;
      line-height: 30px;
}



#home-section-6-3-1{
    padding-top: 40px;
    padding-bottom: 40px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
}



#home-section-6-3-2{
    padding: 20px;
   background-color: var(--color);
   width: 350px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

#home-section-6-3-2-1{
    background-color: var(--primary-color);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-section-6-3-2-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


#home-section-6-3-2-2-p-1{
    color: var(--color1);
    font-size: 18px;
    font-family: var(--font);
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}



#home-section-6-3-2-2-p-2{
    color: var(--color1);
    font-size: 15px;
    font-family: var(--font);
    font-weight: 500;
   text-align: center;
}


#home-section-6-3-2-1-group-icon{
    color: var(--color);
    font-size: 27px;
}

@media (max-width: 1024px){
    #home-section-6-3-1{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-items: center;
        gap: 20px;
    }
    
}

@media (max-width: 786px){
    #home-section-6-3-1{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: center;
        gap: 20px;
    }
    
}

@media (max-width: 602px){
    #home-section-6-2-para-content{
        color: var(--color1);
        font-family: var(--font);
        font-size: 16px;
        width: 500px;
        text-align: center;
        font-weight: 400;
        line-height: 30px;
  }
}

@media (max-width: 520px){
    #home-section-6-2-para-content{
        color: var(--color1);
        font-family: var(--font);
        font-size: 16px;
        width: 400px;
        text-align: center;
        font-weight: 400;
        line-height: 30px;
  }
}


@media (max-width: 415px){
    #home-section-6-2-para-content{
        color: var(--color1);
        font-family: var(--font);
        font-size: 16px;
        width: 300px;
        text-align: center;
        font-weight: 400;
        line-height: 30px;
  }
}

@media (max-width: 376px){
    #home-section-6-3-2{
        width: 100%;
    }
}

/* home section 7 */

#home-section-7{
    background-image: url("../../assets/home7.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 40vh;
}


#home-section-7-1-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-section-7-1-1-p-1{
    color: var(--color);
    font-size: 25px;
    font-family: var(--font);
    font-weight: 600;
}

#home-section-7-1-1-p-2{
    color: var(--color);
    font-size: 20px;
    font-family: var(--font);
    font-weight: 400;
}

#home-section-7-1-2-1{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    padding-top: 50px;
    gap: 20px;
}


#home-section-7-1-2-2{
   
    background-color: var(--color);
    width: 320px;
    padding: 20px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

#home-section-7-1-2-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#home-section-7-1-2-4-p{
    font-family: var(--font);
    font-size: 17px;
    font-weight: 500;
    color: var(--primary-color);
    text-align: center;
    margin-top: 10px;
}

#home-section-7-1-2-5-p{
    font-family: var(--font);
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    text-align: center;
    margin-top: -10px;
}


#home-section-7-1-2-6-p{
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    color: var(--color1);
    text-align: justify;
    line-height: 30px;
}

#home-section-7-1-2-6-quote{
    color: var(--primary-color);
    font-size: 20px;
    margin-top: -5px;
}

#home-section-7-1-2-7-star-flex{
    text-align: center;
}

#home-section-7-1-2-7-star-fill{
    color: var(--star-color);
    font-size: 20px;
}

#home-section-7-1-2-7-star-unfill{
    color: var(--star-color1);
    font-size: 20px;
}


@media(max-width: 1024px){
    #home-section-7-1-2-2{
        width: 300px;
    }
}

@media(max-width: 993px){
    #home-section-7-1-2-1{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-items: center;
    }
}

@media(max-width: 768px){
    #home-section-7-1-2-1{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: center;
        padding-bottom: 40px;
    }
}


@media (max-width: 426px){
   #home-section-7-1-1-p-2{
    font-size: 16px;
   } 
}

@media (max-width: 327px){
    #home-section-7-1-1-p-2{
     font-size: 14px;
    } 
 }

/* home section 8 */

#home-section-8{
    height: 45vh;
}

@media (max-width: 1024px){
    #home-section-8{
        height: 32vh;
    }
}

@media (max-width: 995px)
{
    #home-section-8{
       height: 60vh;
    }
     
}


@media (max-width: 993px)
{
    #home-section-8{
       height: 80vh;
    }
     
}

@media (max-width: 991px)
{
    #home-section-8{
       height: 110vh;
    }
     
}
@media (max-width: 988px)
{
    #home-section-8{
       height: 80vh;
    }
     
}

@media (max-width: 986px)
{
    #home-section-8{
       height: 110vh;
    }
     
}

@media (max-width: 972px)
{
    #home-section-8{
       height: 80vh;
    }
     
}

@media (max-width: 971px)
{
    #home-section-8{
       height: 110vh;
    }
     
}


@media (max-width: 968px)
{
    #home-section-8{
       height: 120vh;
    }
     
}

@media (max-width: 769px){
    #home-section-8{
        height: 180vh;
     }
}

@media(max-width: 426px){
    #home-section-8{
        height: 180vh;
     }
}


@media(max-width: 376px){
    #home-section-8{
        height: 145vh;
    }
}

@media(max-width: 321px){
    #home-section-8{
        height: 180vh;
     }
}

/* home section 9 */

#home-section-9{
    background-image: url("../../assets/home8.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

#home-section-9-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#home-section-9-1-1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}

#home-section-9-1-email{
    font-size: 40px;
    color: var(--color);
}

#home-section-9-1-para{
   color: var(--color);
   font-family: var(--font);
   font-size: 26px;
   font-weight: 600;
}

#home-section-9-1-2-input{
    width: 350px;
    font-size: 15px;
    font-family: var(--font);
    font-weight: 500;
    padding: 10px;
    color: var(--primary-color);
}

#home-section-9-1-2-button{
    border: none;
    background-color: var(--primary-color);
    color: var(--color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


@media (max-width: 993px){
    #home-section-9-1{
        flex-direction: column;
    }
}

@media (max-width: 474px){
    #home-section-9-1-2-input{
        width: 300px;
    }
}


@media (max-width: 415px){
    #home-section-9-1-2-input{
        width: 200px;
    }

    #home-section-9-1-email{
        font-size: 25px;
        color: var(--color);
        margin-top: 2px;
    }

    #home-section-9-1-para{
        font-size: 20px;
    }

}

/* course-section-9 */


#course-section-9{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  #course-section-9-1{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  #course-section-9-1-head-content{
      color: var(--primary-color);
      font-size: 15px;
      font-family: var(--font);
      font-weight: 500;
  }
  
  
  #course-section-9-1-line{
      width: 40px;
      height: 2px;
      background-color: var(--primary-color);
      margin-top: -10px;
  }
  
  #course-section-9-2{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
  }
  
  
  #course-section-9-2-head-content{
      color: var(--primary-color);
      font-size: 20px;
      font-weight: 600;
      font-family: var(--font);
  }
  
  #course-section-9-2-para-content{
        color: var(--color1);
        font-family: var(--font);
        font-size: 16px;
        width: 600px;
        text-align: center;
        font-weight: 400;
        line-height: 30px;
  }
  
  
  
  #course-section-9-3-1{
      padding-top: 40px;
      padding-bottom: 40px;
      /* display: flex;
      flex-wrap: wrap;
      justify-content: space-between; */
  
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      justify-items: center;
  }
  
  
  
  #course-section-9-3-2{
      padding: 20px;
     background-color: var(--color);
     width: 350px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-items: center;
     -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  }
  
  #course-section-9-3-2-1{
      background-color: var(--primary-color);
      height: 70px;
      width: 70px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  #course-section-9-3-2-2{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
  }
  
  
  #course-section-9-3-2-2-p-1{
      color: var(--color1);
      font-size: 18px;
      font-family: var(--font);
      font-weight: 500;
      text-align: center;
      margin-top: 20px;
  }
  
  
  
  #course-section-9-3-2-2-p-2{
      color: var(--color1);
      font-size: 15px;
      font-family: var(--font);
      font-weight: 500;
     text-align: center;
  }
  
  
  #course-section-9-3-2-1-group-icon{
      color: var(--color);
      font-size: 27px;
  }
  
  @media (max-width: 1024px){
      #course-section-9-3-1{
          grid-template-columns: repeat(2, minmax(0, 1fr));
          justify-items: center;
          gap: 20px;
      }
      
  }
  
  @media (max-width: 786px){
      #course-section-9-3-1{
          grid-template-columns: repeat(1, minmax(0, 1fr));
          justify-items: center;
          gap: 20px;
      }
      
  }
  
  @media (max-width: 602px){
      #course-section-9-2-para-content{
          color: var(--color1);
          font-family: var(--font);
          font-size: 16px;
          width: 500px;
          text-align: center;
          font-weight: 400;
          line-height: 30px;
    }
  }
  
  @media (max-width: 520px){
      #course-section-9-2-para-content{
          color: var(--color1);
          font-family: var(--font);
          font-size: 16px;
          width: 400px;
          text-align: center;
          font-weight: 400;
          line-height: 30px;
    }
  }
  
  
  @media (max-width: 415px){
      #course-section-9-2-para-content{
          color: var(--color1);
          font-family: var(--font);
          font-size: 16px;
          width: 300px;
          text-align: center;
          font-weight: 400;
          line-height: 30px;
    }
  }
  
  @media (max-width: 376px){
      #course-section-9-3-2{
          width: 100%;
      }
  }